.app {
  text-align: center;
}

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

.app__header {
  height: 60px;
  padding: 20px;
  color: white;
  background: #607D8B;
  margin-bottom: 20px;
  box-shadow: 0 1px 30px -5px rgba(0,0,0,.75);
}

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

.app__body {

}