.tab {
    display: inline-block;
    margin: 0 5%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #8cb8cd;
    color: white;
    font-weight: bold;
    padding: 14px;
    font-variant-caps: all-petite-caps;
}