.visual {
    overflow: hidden;
    margin: 0 2%;
}

.visual > div {
    width: 45%;
    margin: 2%;
    height: 45vw;
    display: inline-block;
    background-size: 100% 100%;
    background-position: 50% 100%;
    border-radius: 50%;
}

.visual-data {
    content: '';
    position: relative;
    display: block;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-position: center;
    transform: translateY(90%);
}

.visual-data:hover {
    width: 50%;
    height: 50%;
    transform: translateY(50%);
}